/* Global Resets */

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: block;
}

/* Header and Menu */

header {
  width: 100%;
  text-align: center;
}

header h2 {
  float: left;
  padding: 10px 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
}

.menu-links {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #3d1961;
}

.menu-links h2, .social-links h2 {
  cursor: pointer;
}

.menu-links h2:hover, .social-links h2:hover {
  background-color: #90c84b;
  height: 34px;
  border-top: 7px solid #3d1961;
}

.social-links h2:hover {
  height: 28px;
}

.social-links {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.social-links h2 {
  font-size: 30px;
  color: #3d1961;
}

#title-area {
  position: relative;
  margin-top: 10%;
  left: 50%;
  width: 600px;
  margin-left: -300px;
}

#border {
  position: absolute;
  bottom: 0;
  border-top: 10px solid #90c84b;
  width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #3d1961;
}

h2 {
  float: left;
  padding: 10px;
}

/* Platform */

/* About */

/* Contribute */

/* Contact */

/* Other Content */

#content {
  position: absolute;
  top: 100%;
}

.top-button {
  font-size: 20px;
  position: fixed;
  left: 30px;
  bottom: 30px;
  padding: 15px;
  background-color: #666;
  color: #ddd;
  cursor: pointer;
  z-index: 1;
  border-radius: 4px;
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

.top-button:hover {
  background-color: #999;
  color: #fff;
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

.hidden {
  display: none !important;
}

#content .fa {
  color: #90c84b;
}

/* Responsive stuff */

@media screen and (max-width:799px) {
  #scroll-prompt {
    display: inline;
  }

  #about-link, #platform-link, #contribute-link, #contact-link {
    display: none;
  }
}

@media screen and (min-width:800px) {
  #scroll-prompt {
    display: none;
  }

  #about-link, #platform-link, #contribute-link, #contact-link {
    display: inline;
  }
}

@media screen and (max-width:1299px) {
  .page-picture img {
    display: none;
  }
}

@media screen and (min-width:1300px){
  .page-picture img {
    display: inline;
  }
}
