* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  padding: 0;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #3d1961;
}

ul, ol {
  padding-left: 25px;
}

p, li {
  line-height: 1.5;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.img-container {
  text-align: center;
  margin: 50px auto;
}

ol .img-container {
  margin-left: -40px;
}

.img-container img {
  border: 2px solid #3d1961;
  box-shadow: 5px 5px 2px #3d1961;
  max-width: 100%;
  max-height: 500px;
  display: inline-block;
  margin: 5px;
}

.video-container {
  text-align: center;
}

.video {
  width: 100%;
  max-width: 600px;
  height: 500px;
  border: 2px solid #3d1961;
  box-shadow: 5px 5px 2px #3d1961;
}

header {
  height: 100%;
}

main {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  top: 55%;
  transform: translateY(-50%);
  text-align: center;
  margin: auto;
  border: 2px solid #3d1961;
  box-shadow: 5px 5px 2px #3d1961;
  line-height: 0;
  padding: 0 10px;
  max-width: 650px;
}

.hero img {
  max-width: 100%;
}

nav {
  width: 100%;
  background-color: #90c84b;
  padding: 25px;
  position: fixed;
  top: 0;
  border-bottom: 5px solid #3d1961;
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: #3d1961;
}

nav a:hover {
  color: #d467e5;
}

nav div {
  display: inline-block;
}

nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

main a {
  color: #90c84b;
}

.sitenav {}

.social {
  float: right;
}

.hamburger {
  display: none;
}

.mobile-menu {
  width: 100%;
  background-color: #90c84b;
  margin-top: 15px;
}

.mobile-menu ul {
  width: 100%;
}

.mobile-menu li {
  display: block;
  width: 100%;
  padding: 20px 10px;
  border-top: 5px solid #3d1961;
}

section {
  /* margin: 100px 0; */
  padding: 100px 0;
}

.quote {
  font-style: italic;
  font-size: 1.15em;
  color: #3d1961;
}

.quote::before, .quote::after {
  content: "\"";
  color: #90c84b;
  font-style: normal;
  font-size: 1.15em;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
}

.signature {
  text-align: right;
  font-weight: bold;
  margin-bottom: 50px;
}

.signature::before {
  content: "- ";
}

#priorities ol {
  margin: 50px 0;
}

.priority-header {
  cursor: pointer;
}

.priority-header i {
  color: #90c84b;
  padding: 0 10px;
  display: inline-block;
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}

.contact-links a {
  color: #fff;
}

.contact-box {
  display: inline-block;
  width: 300px;
  border: 2px solid #3d1961;
  background-color: #90c84b;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-box .fas, .contact-links .fab {
  display: inline-block;
  padding-right: 10px;
  color: #3d1961;
}

@media screen and (max-width: 800px) {
  .sitenav {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }
}

@media screen and (max-width: 710px) {
  .hero {
    margin: 0 30px;
  }

  .video {
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  .social {
    display: none;
  }

  .video {
    height: 300px;
  }

  .contact-links {
    display: block;
  }

  .contact-box {
    width: 100%;
  }
}
